configure
dwcg/Makefile
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
demo/.deps/
demo/Makefile
dwcg/.deps/
src/.deps/
src/Makefile
config/compile
src/*.o
src/libdaework.a
demo/test
demo/*.o
dwcg/dwcg
dwcg/*.o

